@tailwind base;
@tailwind components;
@tailwind utilities;

.w-4\.5 {
  width: 18px;
}
.w-6\.25 {
  width: 25px;
}
.w-18 {
  width: 4.5rem; /* 72px */
}
.w-54 {
  width: 13.5rem; /* 216px */
}
.w-125\.5 {
  width: 502px;
}
.w-416 {
  width: 104rem; /* 1664px */
}
.w-2\.22vw {
  width: 2.22vw;
}
.w-4vw {
  width: 4vw;
}
.w-5\.07vw {
  width: 5.07vw;
}
.w-6\.8vw {
  width: 6.8vw;
}
.w-17\.07vw {
  width: 17.07vw;
}
.w-20vw {
  width: 20vw;
}
.w-22\.2vw {
  width: 22.2vw;
}
.w-35\.26vw {
  width: 35.26vw;
}
.w-35\.47vw {
  width: 35.47vw;
}
.w-46\.5vw {
  width: 46.5vw;
}
.w-50vw {
  width: 50vw;
}
.w-100vw {
  width: 100vw;
}

.h-4\.5 {
  height: 18px;
}
.h-6\.25 {
  height: 25px;
}
.h-38\.75 {
  height: 155px;
}
.h-9\.6vw {
  height: 9.6vw;
}
.h-12\.5vw {
  height: 12.5vw;
}
.h-25\.65vw {
  height: 25.65vw;
}

.mt-21 {
  margin-top: 5.25rem; /* 84px */
}
.px-2\.22vw {
  padding-left: 2.22vw;
  padding-right: 2.22vw;
}
.px-15 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.left-112 {
  left: 28rem; /* 448px */
}
.text-grey-61666D {
  color: #61666D;
}
.text-orange-FF7F24 {
  color: #FF7F24;
}
.bg-purple-443 {
  background-color: rgb(160 122 161);
}
.bg-red-f07775 {
  background-color: #f07775;
}
.bg-pink-fb7299 {
  background-color: #fb7299;
}
.bg-transparent-white {
  background-color: rgba(255,255,255,.1);
}
.bg-orange-FFF0E3 {
  background-color: #FFF0E3;
}
.from-purple-443 {
  --tw-gradient-from: rgb(160 122 161) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(147 51 234 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.font-chinese {
  font-family: PingFang SC,HarmonyOS_Regular,Helvetica Neue,Microsoft YaHei,sans-serif !important
}
.text-13px {
  font-size: 13px;
}

.webkit-box {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

input::-webkit-input-placeholder {
  color: #61666d;
}